body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8vw;
    size: 8vw;

    animation: flashing 1s infinite step-end;
}

@keyframes flashing {
    0% {
        background-color: #ff0000; /* Red */
        color: #00ff00; /* Green */
    }

    16.666% {
        background-color: #ff9900; /* Orange */
        color: #3300cc; /* Indigo */
    }

    33.333% {
        background-color: #ffff00; /* Yellow */
        color: #9900cc; /* Violet */
    }

    50% {
        background-color: #00ff00; /* Green */
        color: #ff0000; /* Red */
    }

    66.666% {
        background-color: #33ccff; /* Light Blue */
        color: #ff6600; /* Dark Orange */
    }

    83.333% {
        background-color: #9900cc; /* Violet */
        color: #ffff00; /* Yellow */
    }

    100% {
        background-color: #ff0000; /* Red */
        color: #00ff00; /* Green */
    }
}
